/GUI Practice/Tut_50/nbproject/private/
/GUI Practice/Tut_50/build/
/GUI Practice/Tut_Practice/Tut_51_JFrameGUI/nbproject/private/
/GUI Practice/Tut_Practice/Tut_51_JFrameGUI/build/
/Class/InterfaceDemo/nbproject/private/
/Class/InterfaceDemo/build/
/GUI Practice/Tut_Practice/tut_52_EventHandler/nbproject/private/
/GUI Practice/Tut_Practice/tut_52_EventHandler/build/